<section>

    <div id="<%= dom_id post %>">
      <h4>  <%= post.title %> </h4>
      <small> <%= post.category %>  </small>
      <br>
      <b> <%= post.author %>  </b>
      <%= 
      require 'date'
      date = Date.parse("Sun, 15 Sep 2013") # => #<Date: 2013-09-15 ((2456551j,0s,0n),+0s,2299161j)>
      date.strftime("%a, %d %b %Y") # => "Sun, 15 Sep 2013"
      post.created_at.strftime("%a, %d %b %Y") # => "Sun, 15 Sep 2013"
      
      %> 
      <br>
      <%= image_tag post.image_url, alt: 'post img', class: "img-fluid" %>
      <br>
      <p><%= post.content %> </p>
      <p>
     
    </p>
    </div>

</section>
